#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.json-container {
  position: relative;
}
.json-container > button {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
